<div id="recent">
<h2>
  Recent challenges
</h2>

<% if Challenge.recent.empty? %>
<p>There are no recent challenges.</p>
<% end %>

<ul class="challenges">
  <% Challenge.recent.each do |challenge| %>
    <li>
    <%= render :partial => "challenges/challenge", :locals => {:challenge => challenge} %>
    </li>
  <% end %>
</ul>
</div>

<div id="open">
<h2>
  Open challenges
</h2>

<% if Challenge.open.empty? %>
<p>There are no open challenges.</p>
<% end %>

<ul class="challenges">
  <% Challenge.open.each do |challenge| %>
    <li>
    <%= render :partial => "challenges/challenge", :locals => {:challenge => challenge} %>
    </li>
  <% end %>
</ul>
</div>

<div id="voting">
<h2>
  Challenges needing votes
</h2>

<% if Challenge.voting.empty? %>
<p>There are no challenges requiring votes.</p>
<% end %>

<ul class="challenges">
  <% Challenge.voting.each do |challenge| %>
    <li>
    <%= render :partial => "challenges/challenge", :locals => {:challenge => challenge} %>
    </li>
  <% end %>
</ul>
</div>

