<h2>
  <%= @challenge.name %>
</h2>

<ul>
  <% @challenge.entries.each do |entry| %>
    <li>
      <%= link_to image_tag(entry.photo.url(:thumb)), challenge_entry_path(@challenge, entry) %>
      <br/>
      <%= entry.title %>
      <br/>
      <%= link_to "comment on this photo", "" %>
    </li>
  <% end %>
</ul>
